@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    font-family: "Spline Sans Mono", monospace;
     font-weight: normal;
     
}
.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black; 
    z-index: -1;
}

.landing h4{
    margin-top:25%;
    text-align: center;
    color:rgb(250, 243, 234);
    filter:blur(1px);

}
.page{
    position: relative;
    
    background: rgb(250, 243, 234);
 
    margin-top: 95vh; /* slight overlap */
   border-radius: 20px 20px 0 0;
}

body{
    margin:0;
}


h4{
    font-size: 20px;
    line-height: 2em;
}

h3{
    font-size: 28px;
    line-height: 2em;
}

p{
    font-size: 24px;
}

h2{
    font-size: 30px;
    line-height: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-between;
    border: solid 1px black;
    align-items: baseline;
    
    
}

.header a{
    text-decoration:none;
    color:black;
}

.header a:hover{
    text-decoration:underline;
    color:black;
    cursor:pointer;
}


.top{
    display: flex;
    flex-direction: row;
}

.top-left{
   padding: 2em;
    border: black solid 1px;
}

.top-left:hover{
    background-color:chocolate;
    
}

.top-right{
    padding: 2em;
    border: black solid 1px;
}

.top-right:hover{
    background-color:chocolate;
}
.mid-box{
    padding: 2em;
    border: black solid 1px;
    
}

.mid-box:hover{
    background-color:chocolate;
}

.bottom{
    display: flex;
    flex-direction: row;
}

.bottom-left{
padding: 2em;
    border: black solid 1px;
width:40em;
margin: 0 auto;
}

.bottom-left:hover{
    background-color:chocolate;
}

.bottom-right{
padding: 2em;
    border: black solid 1px;
    width:60em;
}

.bottom-right:hover{
    background-color:chocolate;
    cursor: pointer;
}

.bottom-right a{
    color:black;
}

.popup{
    position:fixed;
    inset:0;                
    display:none;
    z-index:100;
   
}


.popup:target{
    display:block;
}

.popup-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#366052;
    border:1px solid black;
    padding:2em 3em;
    width: 80em;
    /* max-width:100%; */
}

.popup-box a{
    color:black;
    text-decoration: none;
}

.popup-box2 a{
  color:black;  
  text-decoration: none;
}

.popup-box3 a{
  color:black; 
  text-decoration: none; 
}

.popup-box4 a{
  color:black; 
  text-decoration: none; 
}

.popup-box a:hover{
    color:black;
    text-decoration: underline;
}

.popup-box2 a:hover{
    color:black;
    text-decoration: underline;
}

.popup-box3 a:hover{
    color:black;
    text-decoration: underline;
}

.popup-box4 a:hover{
    color:black;
    text-decoration: underline;
}








.popup-box2{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgb(105, 71, 71);
    border:1px solid black;
    padding:2em 3em;

}

.popup-box3{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: #B37A41;
    border:1px solid black;
    padding:2em 3em;
   
}

.popup-box4{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background: #8F463A;
    border:1px solid black;
    padding:2em 3em;
    width: 80em;
    text-align: center;
   
}
