@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    font-family: "Spline Sans Mono", monospace;
     font-weight: normal;
     
}
.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black; 
    z-index: -1;
}

.landing h4{
    margin-top:25%;
    text-align: center;
    color:rgb(250, 243, 234);
    filter:blur(1px);


}

#fade{
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.2s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.landing h4:hover{
  
    text-shadow: 0 0 10px white;

}
.page{
    position: relative;
    
    background: rgb(250, 243, 234);
 
    margin-top: 95vh; /* slight overlap */
   border-radius: 20px 20px 0 0;
}

body{
    margin:0;
}

h4{
    font-size: 20px;
    line-height: 2em;
}

h3{
    font-size: 28px;
    line-height: 2em;
}

p{
    font-size: 24px;
}

h2{
    font-size: 30px;
    line-height: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-between;
    border: solid 1px black;
    align-items: baseline;
    
    
}

.header a{
    text-decoration:none;
    color:black;
}

.header a:hover{
    text-decoration:underline;
    color:black;
    cursor:pointer;
}


.bottom-boxes{
    display: grid;
    grid-template-columns: auto auto;
    align-items:stretch;
    gap:0;
}

.left-boxes{
    display:flex;
    flex-direction:column;
    
}

.right-boxes{
    display:flex;
    flex-direction:column;
    
}

.left1 { 
    grid-column:1; 
    padding: 2em; 
    border: solid 1px black;

}

.left1:hover{
    background-color:#D4B57F;
}

.left1 a{
    color:black;
}

.left2 { 
    grid-column:1; 
    padding: 2em; 
    border: solid 1px black;
    height:21em;
}

.left2:hover{
    background-color:#D4B57F;
}

.right1 { 
    grid-column:2;
    padding: 2em; 
    border: solid 1px black; 
}

.right1:hover{
    background-color:#D4B57F;
}

.right2 { 
    display: flex;
    grid-column:2; 
    padding: 2em; 
    border: solid 1px black;
    height: 10.5em;
    align-items: flex-end;
}

.right2:hover{
    background-color:#D4B57F;
}

.topbox{
    padding: 2em;
    border: solid 1px black;
    text-align: center;
}

.topbox:hover{
    background-color:#D4B57F;
}
.hidden{
    padding-left: 2em;
    padding-right: 2em;
    border: black solid 2px;
    width: fit-content;
    position: absolute;
    top:70%;
    left:40%;
    background-color: rgb(250, 243, 234);
    z-index:100;
    text-decoration: none;
    color: black;
   opacity:0;
    visibility:hidden;
    pointer-events:none;

    transition:opacity .4s ease;
}

#link{
    color:black;
}

.hidden a{
color: black;
}

.hidden:target{
    opacity:1;
    visibility:visible;
    pointer-events:auto;
}
