@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    font-family: "Spline Sans Mono", monospace;
     font-weight: normal;
     
}
.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black; 
    z-index: -1;
}

.landing h4{
    text-align: center;
    margin-top: 25%;
    color:rgb(250, 243, 234);
    filter:blur(1px);
        animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.2s;

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body{
    margin: 0;
}

h4{
    font-size: 20px;
    line-height: 2em;
}

h3{
    font-size: 28px;
    line-height: 2em;
}

p{
    font-size: 24px;
}

h2{
    font-size: 30px;
    line-height: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-between;
    border: solid 1px black;
    align-items: baseline;
    
    
}

.header a{
    text-decoration:none;
    color:black;
}

.header a:hover{
    text-decoration:underline;
    color:black;
    cursor:pointer;
}

.page{
    position: relative;
    
    background: rgb(250, 243, 234);
 
    margin-top: 95vh; /* slight overlap */
   border-radius: 20px 20px 0 0;
}

.top1{
    padding: 2em;
    border: solid 1px black;
    text-align: center;
}

.top1:hover{
    background-color:#B09C9C;
}

.lower-half{
    display: grid;
    grid-template-columns: auto auto ;
}

.left-top{
grid-column: 1;
padding: 2em;
border:solid 1px black;
}
.left-top:hover{
    background-color:#B09C9C;
}

.left-bottom{
grid-column: 1;
padding: 2em;
border:solid 1px black;
}
.left-bottom:hover{
    background-color:#B09C9C;
}

.right1{
   grid-column: 2;
padding: 2em;
border:solid 1px black; 
}

.right1:hover{
    background-color:#B09C9C;
}


.hidden{
    padding-left: 2em;
    padding-right: 2em;
    border: black solid 2px;
    width: fit-content;
    position: absolute;
    top:80%;
    left:40%;
    background-color: rgb(250, 243, 234);
    z-index:100;
    text-decoration: none;
    color: black;
   opacity:0;
    visibility:hidden;
    pointer-events:none;

    transition:opacity .4s ease;
}

#link{
    color:black;
}

.hidden a{
color: black;
}

.hidden:target{
    opacity:1;
    visibility:visible;
    pointer-events:auto;
}

