@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    font-family: "Spline Sans Mono", monospace;
     font-weight: normal;
     
}
.landing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black; 
    z-index: -1;
}

.landing h4{
    margin-top:25%;
    text-align: center;
    color:rgb(250, 243, 234);
    filter:blur(1px);
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.2s;

}
.landing h4:hover{
  
    text-shadow: 0 0 10px white;

}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.page{
    position: relative;
    
    background: rgb(250, 243, 234);
 
    margin-top: 95vh; /* slight overlap */
   border-radius: 20px 20px 0 0;
}

body{
    margin:0;
}

h4{
    font-size: 20px;
    line-height: 2em;
}

h3{
    font-size: 28px;
    line-height: 2em;
}

p{
    font-size: 24px;
}

h2{
    font-size: 30px;
    line-height: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-between;
    border: solid 1px black;
    align-items: baseline;
    
    
}

.header a{
    text-decoration:none;
    color:black;
}

.header a:hover{
    text-decoration:underline;
    color:black;
    cursor:pointer;
}


.top-boxes{
    display:grid;
    grid-template-columns: auto auto;
    gap:0;

}

.top-left{
    grid-column: 1;
     padding: 2em;
    border: solid 1px black;
}

.top-left:hover{
    background-color:#B09C9C;
}

.top-right{
    grid-column: 2;
    
}

.box1{
padding: 2em;
    border: solid 1px black;
}

.box1:hover{
    background-color:#B09C9C;
}

.box2{
padding: 2em;
    border: solid 1px black;
}

.box2:hover{
    background-color:#B09C9C;
}

.box2 a{
    color:black;
}

.bottom-box{
    padding: 2em;
    border: solid 1px black;
    text-align: center;
}

.bottom-box:hover{
    background-color:#B09C9C;
}

.bottom-box a{
    color:black;
}

.popup{
    position:fixed;
    inset:0;                
    display:none;
    z-index:100;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}


.popup:target{
    display:block;
}

.popup-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#366052;
    border:1px solid black;
    padding:2em 3em;
    width: 80em;
    text-align: center;
}

.popup-box a{
    color:black;
}

.popup-box2{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#8F463A;
    border:1px solid black;
    padding:2em 3em;
    width: 80em;
    text-align: center;
}

.popup-box2 a{
  
  color:black;
}