@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
*{
    font-family: "Spline Sans Mono", monospace;
     font-weight: normal;
     
}
page{
    background-color: rgb(250, 243, 234);
}