@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
*{
    font-family: "Spline Sans Mono", monospace;
     font-weight: normal;
     
}

body{
    background-color: rgb(250, 243, 234);
}

.title{
    display: flex;
    flex-direction: column;
    gap:0px;
    padding:20em;
    text-align: center;
    border: black 1px solid;
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.3s;
}

.title *{
    margin:0;
}

h4{
    font-size: 20px;
    line-height: 2em;
    
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h3{
    font-size: 28px;
    line-height: 2em;
}

p{
    font-size: 24px;
}

h2{
    font-size: 30px;
    line-height: 2em;
}

.page{
    display: flex;
    flex-direction: column;

}

.page a{
    border: black 1px solid;
    text-align: center;
    padding-top:0.6em;
    padding-bottom: 0.6em;
    text-decoration: none;
    color:black;
}

 #pg1:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
 }
  #pg2:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
 }
  #pg3:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
 }
  #pg4:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
 }
  #pg5:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
 }
  #pg6:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
  }
   #pg7:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
 }
  #pg8:hover{
    text-decoration: none;
    color:black;
    background-color: #B09C9C;
 }
