@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
*{
    font-family: "Spline Sans Mono", monospace;
     font-weight: normal;
     
}

body{
    background-color: rgb(250, 243, 234);
}

.title{
    display: flex;
    padding:50%;
    text-align: center;
    border: black 1px solid;
}

h4{
    font-size: 20px;
    line-height: 2em;
}

h3{
    font-size: 28px;
    line-height: 2em;
}

p{
    font-size: 24px;
}

h2{
    font-size: 30px;
    line-height: 2em;
}